<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.module.sys.mapper.UserinfoMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.ruoyi.module.sys.entity.Userinfo">
                    <id column="UserID" property="UserID"/>
                    <result column="UserType" property="UserType"/>
                    <result column="UserCode" property="UserCode"/>
                    <result column="UserName" property="UserName"/>
                    <result column="RealName" property="RealName"/>
                    <result column="UserNameEN" property="UserNameEN"/>
                    <result column="UserPassword" property="UserPassword"/>
                    <result column="UserSex" property="UserSex"/>
                    <result column="UserCategory" property="UserCategory"/>
                    <result column="UserBirth" property="UserBirth"/>
                    <result column="EntryDate" property="EntryDate"/>
                    <result column="QuitDate" property="QuitDate"/>
                    <result column="IDCardNO" property="IDCardNO"/>
                    <result column="PatientKindCardNO" property="PatientKindCardNO"/>
                    <result column="UserMobile" property="UserMobile"/>
                    <result column="UserTell" property="UserTell"/>
                    <result column="Province" property="Province"/>
                    <result column="City" property="City"/>
                    <result column="District" property="District"/>
                    <result column="UserAddress" property="UserAddress"/>
                    <result column="UserEmail" property="UserEmail"/>
                    <result column="UserRemark" property="UserRemark"/>
                    <result column="OrganID" property="OrganID"/>
                    <result column="OrganName" property="OrganName"/>
                    <result column="DepartmentID" property="DepartmentID"/>
                    <result column="Departmentname" property="Departmentname"/>
                    <result column="LogonState" property="LogonState"/>
                    <result column="ISLocked" property="ISLocked"/>
                    <result column="SortNum" property="SortNum"/>
                    <result column="DeleteFlag" property="DeleteFlag"/>
                    <result column="CheckCode" property="CheckCode"/>
                    <result column="Salt" property="Salt"/>
                    <result column="SignImage" property="SignImage"/>
                    <result column="SignImageDir" property="SignImageDir"/>
                    <result column="RISCode" property="RISCode"/>
                    <result column="WechatOpenID" property="WechatOpenID"/>
                    <result column="GateWayOpenID" property="GateWayOpenID"/>
                    <result column="AvatarUrl" property="AvatarUrl"/>
                    <result column="AddAt" property="AddAt"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            UserID, UserType, UserCode, UserName, RealName, UserNameEN, UserPassword, UserSex, UserCategory, UserBirth, EntryDate, QuitDate, IDCardNO, PatientKindCardNO, UserMobile, UserTell, Province, City, District, UserAddress, UserEmail, UserRemark, OrganID, OrganName, DepartmentID, Departmentname, LogonState, ISLocked, SortNum, DeleteFlag, CheckCode, Salt, SignImage, SignImageDir, RISCode, WechatOpenID, GateWayOpenID, AvatarUrl, AddAt
        </sql>




    <!--关联查询开始=========================================================-->
    <resultMap id="AssociateMap" type="java.util.Map" >
        <!--<association property="associate" select="selectAssociate" column="Status" javaType="String" ></association>-->
    </resultMap>
    <select id="selectAssociate" resultType="String"  >
        <!--select DictionaryValue as StatusName from  t_dictionary where  DicCategroyCode = 'DoctorCheckStatus'-->
        <!--and  DictionaryCode = # {Status}-->
    </select>
    <!-- 自定义关联查询left join  -->
    <select id="pagesAssociate" resultMap="AssociateMap">
        select * from  t_userinfo
    </select>
    <!--关联查询结束=========================================================-->




</mapper>